<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Sign up</title>
        <!--mobile setting-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!--css inclusion-->
        <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    </head>
    <body>
        <section class="container">
            <section class="form-container">
                <form action="/signup" method="post">
                    <section class="form-group text-center"><h1>User Sign up</h1>
                        <% if(message!="") { %>
                          <p class="btn btn-primary fullwidth"><%= message %></p>
                        <% } %>
                        <p>Please Sign Up To continue</p>
                    </section>
                    <section class="form-group text-center">
                        <span class="glyphicon glyphicon-pencil canvas-img"></span>
                    </section>
                    <section class="form-group">
                        <input type="text" name="firstName" class="form-control" placeholder="First Name" tabindex="1">
                    </section>
                    <section class="form-group">
                        <input type="text" name="lastName" class="form-control" placeholder="Last Name" tabindex="2">
                    </section>
                    <section class="form-group">
                        <input type="text" name="username"  class="form-control" placeholder="User Name" tabindex="3">
                    </section>
                    <section class="form-group">
                        <input type="text"name="email" class="form-control" placeholder="E-mail" tabindex="4">
                    </section>
                    <section class="form-group">
                        <input type="password" name="password"  class="form-control" placeholder="Password" tabindex="5">
                    </section>
                    <section class="form-group">
                        <input type="submit" id="btnSignup" class="btn btn-primary fullwidth" value="Sign-Up">
                    </section>
                    Already have an account ? <a href="/">Sign in</a>
                </form>
            </section>
        </section>
    </body>
</html>
