<!DOCTYPE html>
<html>
  <head>
   <% include partials/template/head.ejs %>
  </head>
  <body>
  
    <% include partials/template/header.ejs %>
    
    <div class="main">
            <div class="container">
                <div class="div-main">
                    <div class="row">
                         
                          <% include partials/contents/sqlabout.ejs %>
                    </div>
                </div>
            </div>
    </div>
    
    <% include partials/template/footer.ejs %>
    <% include partials/template/appscript.ejs %>
  </body>
</html>
            