<html>
<head>
       <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
<div class="container">
    <h1>We offer following courses</h1>
    <ul>
    <% for(var i=0;i<courses.length;i++) { %>
    <li><%= courses[i] %></li>
    <% } %>
    </ul>
</div>
<% include partials/footer.ejs %>
<% include partials/appscripts.ejs %>

</body>
</html>